<table class="table table-secondary">
    <thead class="table-dark">
        <tr>
            <th>Trabajo</th>
            <th>Descripcion</th>
            <th>Cliente</th>
            <th>ID trabajo</th>
            <th>Estado</th>
            <th>Sector</th>
            <th>Responsable</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobs | async">
            <td>{{job.work_name}}</td>
            <td>{{job.work_description}}</td>
            <td>{{job.client_name}}</td>
            <td>{{job.work_id}}</td>
            <td>{{job.work_status}}</td>
            <td>{{job.area}}</td>
            <td>{{job.manager}}</td>
            <div class="d-flex gap-1">
                <button type="button" class="btn btn-dark btn-sm" (click)="modify(job)">Modify</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteJob(job.id)">Delete</button>
            </div>
        </tr>
    </tbody>
</table>
<span>*Consumo API de mockAPI*</span>
