.cart-style{
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
    max-width: 300px;
    margin-bottom: 60px;
}

.cursor{
    cursor: pointer;
}

.buy-icon{
    color: green;
}

.empty-icon{
    color: rgb(192, 0, 0);
}