<div class="container" *ngIf="checkLoggedIn()">
  <div>
    <div class="p-2 text-light mt-1 mb-1 rounded-2">
      <h2>Repuestos</h2>
    </div>
    <div *ngIf="loading; else e" class="spinner-container">
      <mat-spinner diameter="40" class="spinner"></mat-spinner>
    </div>
    <ng-template #e>
      <app-spare-parts-list [spareParts]="spareParts"></app-spare-parts-list>
    </ng-template>
    <div class="d-flex flex-column align-items-center">
      <div class="cart-style text-center" *ngIf="serviceArraySize() > 0">
        <app-spare-parts-cart></app-spare-parts-cart>
        <div class="d-flex justify-content-center gap-2 p-3">
          <mat-icon
            title="Comprar"
            class="buy-icon cursor"
            >
            shopping_cart
          </mat-icon>
          <mat-icon
            title="Vaciar carrito"
            class="empty-icon cursor"
            (click)="emptyCart()"
            >
            remove_shopping_cart
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>