<div class="container mt-3 text-white">
    <h1 class="text-danger font-weight-bold">Bienvenidos al website de Mestelan Competicion.</h1>
    <p>Contamos con dos amplios servicios de mantenimiento y reparacion orientados a vehiculos particulares y
            competicion</p>

    <h4 class="text-danger font-weight-bold">Cajas de velocidades</h4>
    <p>Nuestra especialidad se enfoca en la reparacion de cajas de velocidades de autos de carreras zonales.
            Y tambien ofrecemos servicio de reparacion de cajas de velocidades manuales de vehiculos nacionales e
            importados.</p>
    <p>Fotos de trabajos con descripciones y herramientas</p>

    <h4 class="text-danger font-weight-bold">Torneria</h4>
    <p>Contamos tambien con servicio de torneria, especialmente reparacion de todo tipo de cardanes,
            autos, camionetas, camiones, maquinaria agricola, etc.</p>
    <p>Fotos de trabajos y torno</p>

    <h4 class="text-danger font-weight-bold">Sistema de checking de trabajos</h4>
    <p>Ofrecemos un servicio virtual que permite a nuestros clientes hacer un seguimiento de cada trabajo mediante
            numero de trabajo.</p>
</div>
