.form-container{
    display: flex;
    justify-content: center;
    width: 300px;
}

.form-input{
    width: 85%;
}

.form-button{
    width: 85%;
    height: 40px;
    margin: 0 0 10px 0;
}

.login-container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 75vh;
    align-items: center;
    gap: 100px;
}

.vr{
    color: white;
    height: 250px;
}

.spinner{
    width: 50px;
    margin: auto;
}