.form-add{
    max-width: 350px;
}

.form-container{
    display: flex;
    justify-content: center;
}

.login-container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 75vh;
    align-items: center;
    gap: 100px;
}

.vr{
    color: white;
    height: 250px;
}