<div class="container" *ngIf="checkLoggedIn()">
    <div class="p-2 text-light mt-1 mb-1 rounded-2">
        <h2>Siga nuestros trabajos</h2>
    </div>
    <div *ngIf="loading; else e" class="spinner-container">
        <mat-spinner diameter="40" class="spinner"></mat-spinner>
    </div>
    <ng-template #e>
        <div class="bg-dark rounded-1 p-1">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                'work_name', 'work_description', 'client_name', 'work_id', 'work_status', 'area', 'manager'
                <ng-container matColumnDef="work_name">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"> Trabajo </th>
                    <td mat-cell *matCellDef="let element"> {{element.work_name}} </td>
                </ng-container>

                <ng-container matColumnDef="work_description">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{element.work_description}} </td>
                </ng-container>

                <ng-container matColumnDef="client_name">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.client_name}} </td>
                </ng-container>

                <ng-container matColumnDef="work_id">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"> Id trabajo </th>
                    <td mat-cell *matCellDef="let element"> {{element.work_id}} </td>
                </ng-container>

                <ng-container matColumnDef="work_status">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.work_status}} </td>
                </ng-container>

                <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"> Sector </th>
                    <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                </ng-container>

                <ng-container matColumnDef="manager">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"> Responsable </th>
                    <td mat-cell *matCellDef="let element"> {{element.manager}} </td>
                </ng-container>

                <ng-container matColumnDef="modify">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon
                            matTooltip="Modificar trabajo"
                            class="cursor edit-btn-color"
                            (click)="addEditJob()"
                            *ngIf="checkAdmin()"
                            >
                            edit
                        </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef class="bg-dark text-light"></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon
                            matTooltip="Eliminar trabajo"
                            class="cursor delete-btn-color"
                            (click)="delete(element.id)"
                            *ngIf="checkAdmin()"
                            >
                            delete_forever
                        </mat-icon>
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <!--
        <div class="form-container mt-3" *ngIf="checkAdmin()">
            <div class="form-add bg-dark p-3 rounded-1">
                <app-jobs-form 
                    *ngIf="addForm; else modifyForm" 
                    [job]="job" [title]="title" 
                    [addForm]="addForm" 
                    (add)="add($event)"
                    >
                </app-jobs-form>
                <ng-template #modifyForm>
                    <app-jobs-form 
                        [job]="job"
                        [title]="title" 
                        [addForm]="addForm"  
                        (put)="put($event)" 
                        (putCancel)="putCancel($event)"
                        >
                    </app-jobs-form>
                </ng-template>
            </div>
        </div>
        -->
        <div class="add-btn">
            <button 
                mat-raised-button 
                color="warn"
                (click)="addEditJob()"
                >
                Agregar trabajo
            </button>
        </div>
    </ng-template>
</div>