.form-add{
    max-width: 280px;
}

.form-container{
    display: flex;
    justify-content: center;
}

.d-flex{
    background-color: transparent;
}

.cursor{
    cursor: pointer;
}

.delete-btn-color{
    color: rgb(188, 0, 0);
}

.edit-btn-color{
    color: rgb(0, 105, 170);
}