.article-container{
    width: 250px;
    height: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5%;
}

.promotion{
    font-style: italic;
    font-weight: bold;
    color: red;
}