<table class="table table-secondary">
    <thead class="table-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sparePart of spareParts">
            <td [ngClass]="{'promotion' : sparePart.promotion}">
                {{sparePart.name}}
            </td>
            <td [ngClass]="{'promotion' : sparePart.promotion}">
                {{sparePart.brand}}
            </td>
            <td *ngIf="sparePart.promotion == true" [ngClass]="{'promotion' : sparePart.promotion}">
                {{sparePart.amount*0.8 | currency}}
            </td>
            <td *ngIf="sparePart.promotion == false" [ngClass]="{'promotion' : sparePart.promotion}">
                {{sparePart.amount | currency}}
            </td>
            <td>
                <span *ngIf="sparePart.stock == 0" class="badge bg-danger ms-2 mt-2">
                    SIN STOCK
                </span>
                <span *ngIf="sparePart.stock != 0" [ngClass]="{'promotion' : sparePart.promotion}">
                    {{sparePart.stock}}
                </span>
            </td>
            <td class="input-group">
                <button class="btn btn-secondary btn-sm" (click)="downQuantity(sparePart)">-</button>
                <input 
                    type="text"
                    class="form-control"
                    value="{{sparePart.quantity}}"
                    [(ngModel)]="sparePart.quantity"
                    >
                <button class="btn btn-secondary btn-sm" (click)="upQuantity(sparePart)">+</button>
            </td>
        </tr>
    </tbody>
    <div>
        <p>*Texto resaltado para productos en oferta</p>
    </div>
</table>