.nav-link{
    cursor: pointer;
}

.main-content{
    padding-bottom: 100px;
}

.header{
    background-color: rgba(16, 16, 16, .9);
}

.footer{
    background-color: rgba(16, 16, 16, .9);
    position: fixed;
    bottom: 0;
    width: 100%;
}